@font-face {
  font-family: "lato";
  src: url("Fonts/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("Fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}