@model Engine.Dbo.Video
@{
  ViewBag.Title = "Update";
}

<h2>Update video</h2>

@using (Html.BeginForm("UpdateVideo", "Video", FormMethod.Post, new { role = "form" }))
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary("", new { @class = "error" })
  <label>
    <!-- insert field here -->
  </label>
}