@model CatMyVideo.Models.IndexViewModel
@{
    ViewBag.Title = "Upload";
    var Formats = ViewData["Format"] as string;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index",
                        "Upload",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload Image:</label>
    <input accept=@Formats type="file" name="file" id="file" /><br><br>
    <input type="submit" value="Upload Video" />
    <br><br>
    @ViewBag.Message
}