<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="CatMyVideoEntities" connectionString="metadata=res://*/DataAccess.CatMyVideoModel.csdl|res://*/DataAccess.CatMyVideoModel.ssdl|res://*/DataAccess.CatMyVideoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FLASH\MTI;initial catalog=CatMyVideo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>