<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mongoUrl" value="mongodb://localhost:27017" />
    <add key="mongoDb" value="catmyvideo" />
    <add key="mongoDir" value="C:\data\db" />
  </appSettings>
  <connectionStrings>
    <add name="CatMyVideoEntities" connectionString="metadata=res://*/DataAccess.CatMyVideoModel.csdl|res://*/DataAccess.CatMyVideoModel.ssdl|res://*/DataAccess.CatMyVideoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FLASH\MTI;initial catalog=CatMyVideo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>