@using Engine.Dbo
@{
    var MostViewed = ViewData["MostViewed"] as Engine.Dbo.Video;
    var Videos = ViewData["Recommanded"] as List<Engine.Dbo.Video>;
}
<div class="row">
    <div class="large-12 columns">
        <h2>Featured</h2>
        
        <div class="row">
            <div class="large-8 columns">
                <div class="flex-video widescreen vimeo">
                    <video width="480" height="320" controls="controls">
                        <source src="/api/Video/0" type="video/webm">
                    </video>
                </div>
            </div>

            <div class="large-4 columns">
                <h3>@MostViewed.Title</h3>
                <small>By <a href="#">Bleed Air</a></small>
                <p class="home-featured-description">
                    @MostViewed.Description
                </p>
            </div>
        </div>
        <h2>Latest videos</h2>
        <div class="row">
            @foreach (var Video in Videos)
            {
                <div class="large-3 columns">
                    <div class="flex-video widescreen vimeo">
                        <iframe src="http://player.vimeo.com/video/42261942" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <h4>@Video.Title</h4>
                    <small>By <a href="#">VimeoStaff</a></small>
                </div>
            }
        </div>
    </div>
</div>
